@{
    /**/

    ViewBag.Title = "Yeni Kayıt";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@model IDETicaret.Models.Account
<div id="content" style="width:500px;margin-left:auto;margin-right:auto;font-size:20px;padding:10px;">
    <div style="text-align:center;width:100%;color:#b21828;"><h2><strong>Şifremi Unuttum</strong></h2></div>
    <hr class="soft">


    <form action="@Url.Action("forgot_password", "Customers")" method="post">
        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.error
            </div>
        }
        @if (ViewBag.success != null)
        {
            <div class="alert status_alert">
                @ViewBag.success
            </div>
        }
        @if (TempData["message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["message"]
            </div>
        }
        <div class="form-group has-feedback">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required = "required", placeholder = "Email", type = "email" })
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">

            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat" style="background-color:green;">Gönder</button>
            </div>
            <!-- /.col -->
        </div>
    </form>


</div>


@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Content/UserNew/jquery.mask.js")"></script>
}