@{
    /**/

    ViewBag.Title = "Yeni Kayıt";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    string token = Request.QueryString["token"];
}

@model IDETicaret.Models.Account
<div style="width:400px;margin-left:auto;margin-right:auto;">
    <div class="login-logo">

    </div>
    <!-- /.login-logo -->
    <div>
     


        <form action="@Url.Action("password_change", "Customers")" method="post">


            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.error
                </div>
            }
            @if (TempData["message"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["message"]
                </div>
            }
            @if (ViewBag.success != null)
            {
                <div class="alert alert">
                    @ViewBag.success
                </div>
            }


            @if (ViewBag.token != null)
            {
                <p class="login-box-msg">Yeni Parola</p>
                <input type="hidden" name="token" value="@token" id="token">
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Parola" name="password1" required="required">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Parola Tekrar" name="password2" required="required">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="background-color:green;">Yenile</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
        </form>
    </div>
    <!-- /.login-box-body -->
</div>


@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Content/UserNew/jquery.mask.js")"></script>
}