@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

}

@using IDETicaret.Models;



<!-- Middle Part
                 ============================================= -->
<div id="content" class="col-sm-9">

    <!-- Welcome Text
    ============================================= -->
    <!--<p class="lead text-center">"The clean and modern look allows you to use the template for every kind of eCommerce online shop. Great Looks on Desktops, Tablets and Mobiles."</p>-->
    <!-- Slideshow
    ============================================= -->
    <div class="slideshow single-slider owl-carousel">
        <div class="item">
            <a href="#">
                <img class="img-responsive" src="@Url.Content("~/Content/UserNew/images/banner1.png")" alt="@System.Configuration.ConfigurationManager.AppSettings["SiteIsmi"]" />
            </a>
        </div>
    </div>
    <!-- Product Tab
    ============================================= -->
    <div id="product-tab" class="product-tab">
        <ul id="tabs" class="tabs clearfix">
            <li class="active"><a href="#tab-encokziyaretedilenler">Fırsat Ürünleri</a></li>
            <li><a href="#tab-ensonurunler">Yeni Ürünler</a></li>
            <li><a href="#tab-encoksatanlar">Çok Satılanlar</a></li>
        </ul>
        <div id="tab-encokziyaretedilenler" class="tab_content deactive" style="display: block;">
            <div class="row products-category product_tab_grid">
                @foreach (Product product in ViewBag.mostedViewedProducts)
                {
                    Product pr = (Product)product;
                    Photo mainPhoto = pr.Photo.SingleOrDefault(p => p.Main && p.Status);
                    <div class="product-layout">
                        <div class="product-thumb">
                            <div class="image"><a href="@Url.SeoLink(product)" style="height:170px;"><img src="https://ozerdemmotosiklet.com/Resimler/@(mainPhoto != null ? mainPhoto.Name : "no-image.png")" alt="@product.Vendor.Name" title="@product.Vendor.Name" class="img-responsive" style="max-width:170px;max-height:170px;" /></a></div>
                            <div class="caption">
                                <h4><a href="@Url.SeoLink(product)" style="height:40px;">@product.Name</a></h4>
                                <p class="price"> <span class="price-new">@product.Price.ToString("n") ₺</span> <!--<span class="price-old">122.00 ₺</span> <span class="saving">-10%</span>--> </p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onclick="SepeteEkle('@product.Id');"><span>Sepete Ekle</span></button>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div id="tab-ensonurunler" class="tab_content deactive" style="display: none;">
            <div class="row products-category product_tab_grid">
                @foreach (Product product in ViewBag.latestProducts)
                {
                    Product pr = (Product)product;
                    Photo mainPhoto = pr.Photo.SingleOrDefault(p => p.Main && p.Status);
                    <div class="product-layout">
                        <div class="product-thumb">
                            <div class="image"><a href="@Url.SeoLink(product)" style="height:170px;"><img src="https://ozerdemmotosiklet.com/Resimler/@(mainPhoto != null ? mainPhoto.Name : "no-image.png")" alt="@product.Name" title="@product.Name" class="img-responsive" style="max-width:170px;max-height:170px;" /></a></div>
                            <div class="caption">
                                <h4><a href="@Url.SeoLink(product)" style="height:40px;">@product.Name</a></h4>
                                <p class="price"> <span class="price-new">@product.Price.ToString("n") ₺</span> <!--<span class="price-old">122.00 ₺</span> <span class="saving">-10%</span>--> </p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onclick="SepeteEkle('@product.Id');"><span>Sepete Ekle</span></button>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div id="tab-encoksatanlar" class="tab_content deactive" style="display: none;">
            <div class="row products-category product_tab_grid">
                @foreach (Product product in ViewBag.bestSellersProducts)
                {
                    Product pr = (Product)product;
                    Photo mainPhoto = pr.Photo.SingleOrDefault(p => p.Main && p.Status);
                    <div class="product-layout">
                        <div class="product-thumb">
                            <div class="image"><a href="@Url.SeoLink(product)" style="height:170px;"><img src="https://ozerdemmotosiklet.com/Resimler/@(mainPhoto != null ? mainPhoto.Name : "no-image.png")" alt="@product.Vendor.Name" title="@product.Vendor.Name" class="img-responsive" style="max-width:170px;max-height:170px;" /></a></div>
                            <div class="caption">
                                <h4><a href="@Url.SeoLink(product)" style="height:40px;">@product.Name</a></h4>
                                <p class="price"> <span class="price-new">@product.Price.ToString("n") ₺</span> <!--<span class="price-old">122.00 ₺</span> <span class="saving">-10%</span>--> </p>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onclick="SepeteEkle('@product.Id');"><span>Sepete Ekle</span></button>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <!--
    <div id="carousel" class="owl-carousel nxt" >
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/nfl-130x100.png")"  alt="Palm" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/redbull-130x100.png")"  alt="Sony" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/sony-130x100.png")" alt="Canon" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/cocacola-130x100.png")" alt="Apple" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/burgerking-130x100.png")"  alt="HTC" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/canon-130x100.png")"  alt="Hewlett-Packard" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/harley-130x100.png")"  alt="brand" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/dell-130x100.png")"  alt="brand1" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/disney-130x100.png")"  alt="brand1" class="img-responsive" /></a> </div>
        <div class="item text-center"> <a href="#"><img src="Url.Content("~/Content/UserNew/images/nintendo-130x100.png")"  alt="brand1" class="img-responsive" /></a> </div>
    </div>
    -->
</div>


<script type="text/javascript">
    function SepeteEkle(id_) {
        $.ajax({
            url: '/Cart/BuyJquery',
            data: {
                id: id_, quantity: 1
            },
            success: function (data) {
                SepetBilgisi();
                swal({
                    title: "Seçtiğiniz ürün sepete eklenmiştir.",
                    type: "success",
                    timer: 1500,
                    text: "",
                    showConfirmButton: false
                });
            }
        });
    }
</script>
