
@{
    ViewBag.Title = "Expires";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">@Resources.UserTemplate.Home</a> <span class="divider">/</span></li>
    <li class="active">@Resources.Vendor.Vendor_Info</li>
</ul>

<h3>@Resources.Vendor.Vendor_Info</h3>
<hr class="soft">

<h2>@Resources.Vendor.Vendor_does_not_exist </h2>

