@{
    ViewBag.Title = "Add Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@model IDETicaret.Models.ViewModels.CategoryViewModel

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Edit Category</h3>
                </div>
                <!-- /.box-header --> <!-- form start -->
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        ViewBag.error
                    </div>
                }

                @using (Html.BeginForm("Edit", "Category", FormMethod.Post))
                {
                    <div class="box-body">

                        <div class="form-group">
                            <label for="username">
                                Name
                            </label>
                            @Html.TextBoxFor(model => model.category.Name, new { @class = "form-control", required = "required", placeholder = "Name" })
                            @Html.ValidationMessageFor(model => model.category.Name)
                        </div>

                        <div class="checkbox">
                            <label>                                
                                @Html.CheckBoxFor(model => model.category.Status) Status
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="parent">
                                Parent Category
                            </label>
                            @Html.DropDownListFor(model => model.category.ParentId, new SelectList(Model.Parent, "Value", "Text"), new { @class = "form-control"}) 
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    @Html.HiddenFor(model => model.category.Id)
                }
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
