@{
    ViewBag.Title = "Kullanıcı Girişi";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using IDETicaret.Models;

@{
    ETicaretEntities ocmd = new ETicaretEntities();
    var websiteName = ocmd.Setting.Find(4).Value;
}

@{
    /**/

    ViewBag.Title = "Yeni Kayıt";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div style="width:400px;margin-left:auto;margin-right:auto;">
    <div class="login-logo">
        <div style="text-align:center;width:100%;color:#b21828;"><h2><strong>ÜYE GİRİŞİ</strong></h2></div>
    </div>
    <!-- /.login-logo -->
    <div>
        <p class="login-box-msg">Üye Adı ve Parola</p>


        <form action="@Url.Action("Process", "Login")" method="post">
            @if (ViewBag.error != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.error
                </div>
            }
            @if (TempData["message"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["message"]
                </div>
            }
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="username" required="required">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Parola" name="password" required="required">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">

                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" style="background-color:green;">Giriş</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <br />
        <a href="@Url.Action("Register", "Customers")" class="text-center btn btn-danger">Yeni Kayıt</a>

        <a href="@Url.Action("Index", "Home")" class="text-center  btn btn-danger" style="background-color:#333333">Ana Sayfaya Dön</a>
    </div>
    <!-- /.login-box-body -->
</div>