@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Ayarlar</h3>
                </div>
                <!-- /.box-header -->
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        @TempData["error"]
                    </div>
                }
                <div class="box-body">
                    <div id="example1_wrapper"
                         class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id=""
                                       class="table table-bordered table-striped dataTable table-bordered">
                                    <thead>
                                        <tr role="row">
                                            <th class="no-sort">Id</th>
                                            <th class="no-sort">Anahtar</th>
                                            <th class="no-sort">Değer</th>
                                            <th class="no-sort">Tip</th>
                                            <th class="no-sort">İşlem</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var setting in ViewBag.settings)
                                        {
                                            <tr>
                                                <td>@setting.Id</td>
                                                <td>@setting.Key</td>
                                                <td>
                                                    @if (setting.TypeOfControl.Equals("textbox") || setting.TypeOfControl.Equals("textarea"))
                                                    {
                                                        @Html.Raw((Convert.ToString(setting.Value).Length > 50 ? Convert.ToString(setting.Value).Substring(0,50)+" ... " : setting.Value))
                                                    }
                                                    else if (setting.TypeOfControl.Equals("file"))
                                                    {
                                                        <img src="~/Content/User/Images/@setting.Value" width="200" />
                                                    }
                                                </td>
                                                <td>@setting.Group</td>
                                                <td>
                                                    <a href="@Url.Action("Edit", "Setting", new { id = setting.Id })">Düzenle</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
