@using IDETicaret.Security;
@using IDETicaret.Models;
@using IDETicaret.Helpers;

@{
    ETicaretEntities ocmde = new ETicaretEntities();
    var categories = HttpContext.Current.Application["Categories"] as List<Category>; // ocmde.Category.Where(c => c.Status);
    List<Setting> setting = ocmde.Setting.ToList();
    var websiteName = setting.Where((p)=> p.Id == 4).First().Value;
    var logo = setting.Where((p) => p.Id == 10).First().Value;

    string keywords = "çiftteker"; 
	if(ViewBag.Title != null)
	{
    foreach (var item in Convert.ToString(ViewBag.Title).Split(' '))
    {
        keywords += ", "+item;
    }
}

}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="@Url.Content("~/Content/images/favicon.ico")" rel="icon" />
    <title>@websiteName - @Html.Raw(ViewBag.Title)</title>
    <meta name="description" content="@Html.Raw(ViewBag.Title) Türkiye'nin en fazla ürün çeşidine sahip Motosiklet, ATV ve Elektrikli Bisiklet yedek parça perakende satış mağazası "/>
    <meta name="keywords" content="@Html.Raw(keywords)"/>
    <meta name="robots" content="" />
    <meta name="publisher" content="" />
    <meta name="author" content="ÇiftTeker, özerdem">

    <script type="text/javascript" src="@Url.Content("~/Content/UserNew/jquery-2.1.1.min.js")"></script>
    <!-- Stylesheets
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/UserNew/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/UserNew/stylesheet.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/UserNew/owl.carousel.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/UserNew/owl.transitions.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/UserNew/responsive.css")" />
    <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("~/Content/UserNew/ImageZoom/easyzoom.css")" />

    <!--Mesaj-->
    <link href="@Url.Content("~/Content/sweetalert.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/sweetalert.min.js")"></script>


    <!-- <link rel="shortcut icon" href="~/Content/UserNew//favicon.ico">-->
</head>
<body>



    <!-- Document Wrapper
    ============================================= -->
    <div class="wrapper-box">

        <!-- Header
        ============================================= -->
        <div id="header">
            <header class="header-row">
                <div class="container">
                    <div class="table-container">

                        <!-- Logo ============================================= -->
                        <div style="width:150px;height:100px  ;float:left;text-align:center;">
                            <div><a href="@Url.Action("Index", "Home", null)" title="@Html.Raw(ViewBag.Title)"><img class="img-responsive" src="@Url.Content("~/Content/UserNew/images/logo.png")" title="Çiftteker" alt="ÖZERDEM" /></a></div>
                        </div>
                        <!-- Logo End -->
                        <!-- Top Bar ============================================= -->
                        <div style="width:85%;float:left;margin-left:auto;margin-right:auto;">

                            <div class="pull-right flip left-top">
                                <div class="links">
                                    <ul>
                                        <li class="mobile"> <i class="fa fa-phone"></i> @setting.Where((p) => p.Id == 18).First().Value </li>
                                        <li class="mobile"> &nbsp;&nbsp;&nbsp; <i class="fa fa-mobile"></i> @setting.Where((p) => p.Id == 19).First().Value </li>

                                        <li class="email"><a href="mailto:@setting.Where((p)=> p.Id == 20).First().Value" title="@setting.Where((p) => p.Id == 20).First().Value"><i class="fa fa-envelope"></i> @setting.Where((p) => p.Id == 20).First().Value</a></li>
                                    </ul>
                                </div>
                            </div>
                            <br />

                            <!-- Search Bar  ============================================= -->
                            <div class="col-md-9 col-sm-8 col-xs-12 inner">
                                <div id="search" class="input-group" style="padding-left:15px;">

                                    <img src="@Url.Content("~/Content/UserNew/uploads/slogan1.png")" alt="@Html.Raw(ViewBag.Title)" />
                                    <br />
                                    <form action="@Url.Action("Search2", "Product", new { pageSize = 12 })" method="get">
                                        <input id="keyword" type="text" name="keyword" value="@ViewBag.keyword" placeholder="Ürün, kategori veya marka ara" class="form-control input-lg"
                                               style="border-color:brown;border-width:medium;" />
                                        <button type="submit" class="button-search" style="background-color:brown;color:white;">ARA</button>
                                    </form>
                                </div>
                            </div><!-- Search Bar End-->
                            <div>
                                <div style="width:110px;float:left;margin-left:15px;">
                                    <div style="text-align:center;font-size:13px;">
                                        <img src="@Url.Content("~/Content/UserNew/images/user.png")" alt="Kullanıcı" style="height:40px;margin:8px 0px 2px 0px;" />
                                        <br />
                                        <ul>

                                            @{
                                                if (SessionPersister.account != null)
                                                {
                                                    var account = SessionPersister.account;
                                                    if (account is Account && !((IDETicaret.Models.Account)account).IsAdmin)
                                                    {
                                                        var customer1 = (IDETicaret.Models.Account)SessionPersister.account;
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hoşgeldin<br />@customer1.FullName <b class="caret"></b></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="@Url.Action("Liste", "Orders", null)">Siparişler</a></li>
                                                                <li><a href="@Url.Action("Profile", "Login", null)">Profilim</a></li>
                                                                @if (customer1.IsAdmin)
                                                                {
                                                                    <li><a href="@Url.Action("Login", "Admin", null)">Admin</a></li>
                                                                }
                                                                <li><a href="@Url.Action("SignOut", "Login", null)">Çıkış</a></li>
                                                            </ul>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("Giris", "Login", null)" style="padding-top:8px;" title="Giriş">Giriş</a>
                                                        <span>|</span>
                                                        <a href="@Url.Action("Register", "Customers", null)" title="Yeni Kayıt">Yeni Kayıt</a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Giris", "Login", null)" style="padding-top:8px;" title="Giriş">Giriş</a>
                                                    <span>|</span>
                                                    <a href="@Url.Action("Register", "Customers", null)" title="Yeni Kayıt">Yeni Kayıt</a>
                                                }
                                            }

                                        </ul>
                                    </div>
                                </div>
                                <!-- Mini Cart ============================================= -->
                                <div style="width:110px;float:left;">
                                    <div style="text-align:center;font-size:13px;">

                                        <a href="@Url.Action("Detay", "Cart", null)" title="Sepetim">
                                            <img src="@Url.Content("~/Content/UserNew/images/shop.png")" alt="Sepetim" style="height:40px;margin:5px 0px 5px 0px;" title="Sepetim" />
                                            <br />
                                            <span id="cart-total">SEPETİM<br /><span id="SepetBilgisi" name="SepetBilgisi"></span></span> <!--<i class="fa fa-caret-down"></i>-->

                                        </a>
                                    </div>
                                </div><!-- Mini Cart End-->
                            </div>
                        </div><!-- Top Bar End -->
                        <!-- Phone and Email ============================================= -->
                        <div class="col-md-6 col-md-push-5 col-sm-8 col-xs-12 inner">
                            <div class="links_contact pull-right flip">
                                <ul></ul>
                            </div>
                        </div><!-- Phone and Email End-->

                        <div class="clearfix visible-sm-block visible-xs-block"></div>

                    </div>
                </div>
            </header>

            <!-- Main Menu ============================================= -->
            <div class="container">
                <nav id="menu" class="navbar">
                    <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <i class="fa fa-align-justify pull-right flip"></i></span></div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="categories_defu " style="text-align:center;">
                                <a class="dropdown-toggle" href="@Url.Action("Index","Home",null)" title="Ana Sayfa">
                                    <i class="fa fa-home"></i>
                                    Ana Sayfa
                                </a>
                            </li>
                            <li class="categories_defu " style="text-align:center;">
                                <a class="dropdown-toggle" href="@Url.Action("Blog","Home",null)" title="Blog">
                                    Blog
                                </a>
                            </li>
                            <li class="categories_defu " style="text-align:center;">
                                <a class="dropdown-toggle" href="@Url.Action("AdvancedSearch","Product",null)" title="Gelişmiş Arama">
                                    Gelişmiş Arama
                                </a>
                            </li>
                            <li class="categories_defu " style="text-align:center;">
                                <a class="dropdown-toggle" href="@Url.Action("BankaHesapBilgileri","Home",null)" title="Banka Hesap Bilgileri">
                                    Banka Hesap Bilgileri
                                </a>
                            </li>
                            <li class="categories_defu " style="text-align:center;">
                                <a class="dropdown-toggle" href="@Url.Action("Contact","Home",null)" title="İletişim">
                                    İletişim
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- Main Menu End-->
        </div><!-- Header End-->
        <!-- Content ============================================= -->
        <div id="container">

            <div class="container">
                <div class="row">
                    @if (Request.Url.LocalPath == "/"
                         || Request.Url.LocalPath.Contains("/Product/Category")
                         || Request.Url.LocalPath == "/Home"
                         || Request.Url.LocalPath == "/Home/Index"
                         || Request.Url.LocalPath.Contains("/Product/Search")
                         || Request.Url.LocalPath.Contains("/Product/Detail")
                         || Request.Url.LocalPath.Contains("/Product/AdvancedSearch")
                         || HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() == "UrunDetay"
                         )
                    {
                        @Html.Partial("Categories", categories)
                    }
                    @RenderBody()

                </div>
            </div>
        </div><!--Content End-->
        <!-- Footer
        ============================================= -->
        <footer id="footer">

            <!-- Footer Part 1
            ============================================= -->
            <div class="fpart-first">
                <div class="container">
                    <div class="row">
                        <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            <h5>Sözleşmeler</h5>
                            <ul>
                                <li><a href="#">Satış Sözleşmesi</a></li>
                                <li><a href="#">İade Şartları</a></li>
                                <li><a href="#">Gizlilik ve Güvenlik</a></li>
                                <li><a href="#">Ödeme ve Tahsilat</a></li>
                                <li><a href="@Url.Action("SiteMap","Home",null)" title="Site Haritası">Site Haritası</a></li>
                            </ul>
                        </div>

                        <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <h5>İletişim Detay</h5>
                            <ul>
                                <li class="address"><i class="fa fa-map-marker"></i>@setting.Where((p) => p.Id == 17).First().Value</li>
                                <li class="mobile"><i class="fa fa-phone"></i>@setting.Where((p) => p.Id == 16).First().Value</li>
                                <li class="email"><i class="fa fa-envelope"></i><a href="mailto:@setting.Where((p)=> p.Id == 15).First().Value" title="@setting.Where((p) => p.Id == 15).First().Value">@setting.Where((p) => p.Id == 15).First().Value</a>
                                <li><a href="@Url.Action("SiteMap","Home",null)" title="Site Haritası">Site Haritası</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--Footer Part 1 End-->
            <!-- Footer Part 2
            ============================================= -->
            <div class="fpart-second">
                <div class="container">
                    <div id="powered">
                        <div class="row">

                            <!-- Payments Types
                            ============================================= -->
                            <div class="col-md-4">
                                <div class="payments_types"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/payment_paypal.png")" tppabs="http://demo.harnishdesign.net/html/bigshop/v1/image/payment/payment_paypal.png" alt="paypal" title="PayPal"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/payment_american.png")" tppabs="http://demo.harnishdesign.net/html/bigshop/v1/image/payment/payment_american.png" alt="american-express" title="American Express"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/payment_2checkout.png")" tppabs="http://demo.harnishdesign.net/html/bigshop/v1/image/payment/payment_2checkout.png" alt="2checkout" title="2checkout"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/payment_maestro.png")" tppabs="http://demo.harnishdesign.net/html/bigshop/v1/image/payment/payment_maestro.png" alt="maestro" title="Maestro"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/payment_discover.png")" tppabs="http://demo.harnishdesign.net/html/bigshop/v1/image/payment/payment_discover.png" alt="discover" title="Discover"></a></div>
                            </div><!--Payments Types End-->
                            <!-- Payments Types
                            ============================================= -->
                            <div class="powered_text pull-left flip col-md-4">webmaster : <a href="https://www.idyazilim.com">ID YAZILIM</a> @DateTime.Today.Year </div>

                            <!-- Social Icon
                            ============================================= -->
                            <div class="col-md-4">
                                <div class="social pull-right flip"> <a href="@setting.Where((p)=> p.Id == 1).First().Value" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/facebook.png")" alt="Facebook" title="Facebook"></a> <a href="@setting.Where((p)=> p.Id == 3).First().Value" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/twitter.png")" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/google_plus.png")" alt="Google+" title="Google+"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/pinterest.png")" tppabs="http://demo.harnishdesign.net/html/bigshop/v1/image/socialicons/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="@Url.Content("~/Content/UserNew/images/rss.png")" tppabs="http://demo.harnishdesign.net/html/bigshop/v1/image/socialicons/rss.png" alt="RSS" title="RSS"> </a></div>
                            </div><!--Payments Types End-->
                        </div>
                    </div>

                    <!-- Custom Block
                    ============================================= -->
                    <div class="custom-text">
                        <p></p>
                    </div><!--Custom Block End-->

                </div>
            </div><!--Footer Part 2 End-->
            <!-- Back to Top
            ============================================= -->
            <div id="back-top"><a data-toggle="tooltip" title="Yukarı Çık" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>

        </footer><!--Footer End-->
    </div>

    <!-- JavaScripts
      ============================================= -->
    <script type="text/javascript" src="@Url.Content("~/Content/UserNew/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/UserNew/jquery.easing-1.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/UserNew/jquery.dcjqaccordion.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/UserNew/owl.carousel.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/UserNew/custom.js")"></script>


    <!-- JavaScripts End-->

    <script src="@Url.Content("~/Content/UserNew/ImageZoom/easyzoom.js")"></script>
    <script>
        var $easyzoom = $('.easyzoom').easyZoom();
    </script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">

        function SepetBilgisi() {
            $.ajax({
                url: '@Url.Content("~/Cart/SepetBilgisi")',
                success: function (data) {
                    $("#SepetBilgisi").html(data.UrunSayisi + " ürün - " + data.Tutar);
                }
            });
        }

        SepetBilgisi();
        
            $(window).on('load', function() {
            $('#ornekModal').modal('show');
            });


       

    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47889189-14"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-47889189-14');
    </script>


    <div class="modal fade" tabindex="-1" role="dialog" id="ornekModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">BİLGİLENDİRME</h4>
                </div>
                <div class="modal-body">
                    <span style="font-size:30px;line-height: normal;">
                        DEĞERLİ MÜŞTERİLERİMİZ İNTERNET SİTEMİZ VASITASIYLA SİZLERE SUNMUŞ OLDUĞUMUZ HİZMETİ 01.01.2023 TARİHİ İTİBARİYLE DURDURMA KARARI ALDIK. BUGÜNE KADAR İNTERNET SİTEMİZE VE MARKAMIZA GÖSTERMİŞ OLDUĞUNUZ İLGİ İÇİN TEŞEKKÜR EDER KAZASIZ SÜRÜŞLER DİLERİZ.
                    </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tamam</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</body>
</html>
