@model List<IDETicaret.Models.Category>

@{
    int kategori1 = Convert.ToInt32(Request.RequestContext.RouteData.Values["kategori1"]);
    int kategori2 = Convert.ToInt32(Request.RequestContext.RouteData.Values["kategori2"]);
    int kategori3 = Convert.ToInt32(Request.RequestContext.RouteData.Values["kategori3"]);
    int kategori4 = Convert.ToInt32(Request.RequestContext.RouteData.Values["kategori4"]);
}
@using IDETicaret.Models;


<aside id="column-left" name="column-left" class="col-sm-3">
    <!--hidden-xs-->
    <!-- Categories Accordion
    ============================================= -->
    <h3 class="subtitle"><span>Kategoriler</span></h3>
    <div class="box-category">
        <ul id="cat_accordion">
            @foreach (IDETicaret.Models.Category kategori in Model.Where((x) => x.ParentId == null && x.Status))
            {
                if (kategori1 == Convert.ToInt32(kategori.Id))
                {
                    <li style="background-color:#f57f17;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;">
                        <a style="color:white;" href="@Url.SeoLinkSolMenu1(kategori.Id.ToString(),kategori.Name,"1")" class="@(kategori1 == Convert.ToInt32(kategori.Id) ? "active" : "")">@kategori.Name</a> <span class="down"></span>
                        <ul>
                            @foreach (IDETicaret.Models.Category kategori_2 in Model.Where((x) => x.ParentId == kategori.Id && x.Status))
                            {
                                if (kategori_2.Name != "")
                                {
                                    <li>
                                        <a style="color:white;" href="@Url.SeoLinkSolMenu2(kategori.Id.ToString(),kategori_2.Id.ToString(),kategori_2.Name,"1")" class="@(kategori1 == Convert.ToInt32(kategori.Id) && kategori2 == Convert.ToInt32(kategori_2.Id) ? "active" : "")">@kategori_2.Name</a> <span class="down"></span>
                                        <ul>
                                            @foreach (IDETicaret.Models.Category kategori_3 in Model.Where((x) => x.ParentId == kategori_2.Id && x.Status))
                                            {
                                                <li class="custom_id58">
                                                    <a style="color:white;" href="@Url.SeoLinkSolMenu3(kategori.Id.ToString(),kategori_2.Id.ToString(),kategori_3.Id.ToString(),kategori_3.Name,"1")" class="@(kategori1 == Convert.ToInt32(kategori.Id) && kategori3 == Convert.ToInt32(kategori_3.Id) ? "active" : "")">@(kategori1 == Convert.ToInt32(kategori.Id) && kategori2 == Convert.ToInt32(kategori_2.Id) && kategori3 == Convert.ToInt32(kategori_3.Id) ? Html.Raw("<strong>") : Html.Raw(""))@kategori_3.Name@(kategori1 == Convert.ToInt32(kategori.Id) && kategori2 == Convert.ToInt32(kategori_2.Id) && kategori3 == Convert.ToInt32(kategori_3.Id) ? Html.Raw("</strong>") : Html.Raw(""))</a><span class="down"></span>
                                                    <ul>
                                                        @foreach (IDETicaret.Models.Category kategori_4 in Model.Where((x) => x.ParentId == kategori_3.Id && x.Status))
                                                        {
                                                            if (kategori_4.Name != "")
                                                            {
                                                                <li class="custom_id58">
                                                                    <a style="color:white;" href="@Url.SeoLinkSolMenu4(kategori.Id.ToString(),kategori_2.Id.ToString(),kategori_3.Id.ToString(), kategori_4.Id.ToString(),kategori_4.Name,"1")">@(kategori1 == Convert.ToInt32(kategori.Id) && kategori2 == Convert.ToInt32(kategori_2.Id) && kategori3 == Convert.ToInt32(kategori_3.Id) && kategori4 == Convert.ToInt32(kategori_4.Id) ? Html.Raw("<strong>") : Html.Raw(""))@kategori_4.Name@(kategori1 == Convert.ToInt32(kategori.Id) && kategori2 == Convert.ToInt32(kategori_2.Id) && kategori3 == Convert.ToInt32(kategori_3.Id) && kategori4 == Convert.ToInt32(kategori_4.Id) ? Html.Raw("</strong>") : Html.Raw(""))</a>
                                                                </li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
            @foreach (IDETicaret.Models.Category kategori in Model.Where((x) => x.ParentId == null && x.Status))
            {
                if (kategori1 != Convert.ToInt32(kategori.Id))
                {
                    <li class="menu" style="@(kategori1 == Convert.ToInt32(kategori.Id) ? "background-color:#f51e34;" : "")">
                        <a href="@Url.SeoLinkSolMenu1(kategori.Id.ToString(),kategori.Name,"1")" class="@(kategori1 == Convert.ToInt32(kategori.Id) ? "active" : "")">@kategori.Name</a> <span class="down"></span>
                    </li>
                }
            }


        </ul>
    </div>
</aside>

