@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@using IDETicaret.Helpers;

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">MemberShips</h3>
                </div>
                <!-- /.box-header -->
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        @TempData["error"]
                    </div>
                }
                <div class="box-body">
                    <div id="example1_wrapper"
                         class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example1"
                                       class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr role="row">
                                            <th class="no-sort">Id</th>
                                            <th class="no-sort">Name</th>
                                            <th class="no-sort">Price</th>
                                            <th class="no-sort">Month</th>
                                            <th class="no-sort">Description</th>
                                            <th class="no-sort">Status</th>
                                            
                                            <th class="no-sort">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var membership in ViewBag.memberships as List<IDETicaret.Models.MemberShip>)
                                        {
                                            <tr>
                                                <td>@membership.Id</td>
                                                <td>@membership.Name</td>
                                                <td>@membership.Price.ToString("n")</td>
                                                <td>@membership.Month</td>
                                                <td>@Html.Raw(membership.Description)</td>
                                                <td>
                                                    <a href="@Url.Action("Status", "MemberShip", new { id = membership.Id })">@(membership.Status ? "Show" : "Hide")</a>
                                                </td>
                                                
                                                <td>
                                                    <a href="@Url.Action("Edit", "MemberShip", new { id = membership.Id })">Edit</a>
                                                    @if (membership.MemberShipVendor == null || membership.MemberShipVendor.Count == 0 && membership.Id != MemberShipHelper.TrialPackage)
                                                    {
                                                        <span>|</span> <a href="@Url.Action("Delete", "MemberShip", new { id = membership.Id })" onclick="return confirm('Are you sure?')">Delete</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
