@{
    ViewBag.Title = "Add Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@model IDETicaret.Models.Setting

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Parametre Düzenle</h3>
                </div>
                <!-- /.box-header --> <!-- form start -->
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        ViewBag.error
                    </div>
                }

                @using (Html.BeginForm("Edit", "Setting", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="box-body">

                        <div class="form-group">
                            <label for="value">
                                Anahtar
                            </label>
                            <br />
                            @Html.TextBoxFor(model => model.Key, new { @class = "form-control", required = "required", placeholder = "Value" })

                        </div>

                        @if (Model.TypeOfControl.Equals("textbox"))
                        {
                            <div class="form-group">
                                <label for="value">
                                    Değer
                                </label>
                                @Html.TextBoxFor(model => model.Value, new { @class = "form-control", required = "required", placeholder = "Value" })
                                @Html.ValidationMessageFor(model => model.Value)
                            </div>
                        }
                        else if (Model.TypeOfControl.Equals("textarea"))
                        {
                            <div class="form-group">
                                <label for="value">
                                    Değer
                                </label><br />
                                <textarea id="Value" name="Value" rows="20" style="width:100%;">@Model.Value</textarea>
                            </div>
                        }
                        else if (Model.TypeOfControl.Equals("file"))
                        {
                            <div class="form-group">
                                <label for="value">
                                    Değer
                                </label>
                                <input type="file" name="logo" accept="image/*" />
                                <br />
                                <img src="~/Content/User/Images/@Model.Value" width="200" />
                                @if (ViewBag.errorPhoto != null)
                                {
                                    <br />
                                    <span style="color: red">@ViewBag.errorPhoto</span>
                                }
                            </div>
                        }

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Value)
                }
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
